.popupMarket {
    border: 1px black solid;
    font-size: 0.4rem;
    background-color: white;
    padding: 5px;
    position: absolute;
    /* top: 700px;
    left: 700px; */
    top: 80%;
    left: 50%;
    border-radius: 5px;

}

.title {
    font-style: bold;
    text-align: center;
}