.popup {
    border: 1px black solid;
    background-color: white;
    padding: 50px;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    top: 750px;
    left: 750px;
    font-size: 1rem;
    border-radius: 5px;
    flex-direction: column;
    text-align: left;

}

.title {
    font-weight: bold;
    text-align: center;
}